In [1]:
import spacy
s=spacy.load("en_core_web_sm");

In [5]:
exmaple1="Salar de Uyuni, Bolivia. The worlds largest salt flat, it creates a mirror effect after the rain.Angkor wat, Cambodia. Beautiful ancient temple ruins.Cinque Terre, Rio Maggiore, Italy. The 5 Lands of colored homes perched on a cliff by the sea.Blue Lagoon, Iceland. Natural thermal hot springs.Maldives, This archipelago is the ultimate tropical island paradise.Yellowstone National Park, Wyoming, USA. Home of the famous Old Faithful Geyser."

In [6]:
doc=s(exmaple1)

for ent in doc.ents:
    print(ent.text,ent.label_)

Bolivia GPE
wat GPE
Cambodia GPE
Cinque Terre PERSON
Rio Maggiore PERSON
Italy GPE
5 CARDINAL
Blue Lagoon GPE
Iceland GPE
Yellowstone National Park ORG
Wyoming GPE
USA GPE
Old Faithful Geyser WORK_OF_ART

In [10]:
example2="Our first organised resistance to destruction of forests, the Chipko movement,  began in 1974.Probably one of the most noted movements in Indian history, Satyagraha brought thousands of people together in a peaceful way. The non-violence movement started by Mahatma Gandhi to send the British back to their country and leave India free of foreign rule did eventually taste success."

In [12]:
doc2=s(example2)

In [13]:

for ent in doc2.ents:
    print(ent.text,ent.label_)

first ORDINAL
Chipko ORG
Indian NORP
Satyagraha PERSON
thousands CARDINAL
Mahatma Gandhi PERSON
British NORP
India GPE

In [14]:
#Quering
locs = [('Omnicom', 'IN', 'New York'),('DDB Needham', 'IN', 'New York'), ('Kaplan Thaler Group', 'IN', 'New York'),('BBDO South', 'IN', 'Atlanta'), ('Georgia-Pacific', 'IN', 'Atlanta')]

In [15]:
query=[e1 for (e1,rel,e2) in locs if e2=='Atlanta']

In [16]:
print(query)

['BBDO South', 'Georgia-Pacific']